

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  color:white;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  color: white;
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1rem;
  color:white;
}

.form-button {
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;

}

.cancel-btn {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 0.5rem; 
}

.item-list {
  list-style: none;
  padding: 0;
}

.item-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
}

.item-list li .actions button {
  margin-left: 0.5rem;
  padding: 0.3rem 0.6rem;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
}

.edit-btn {
  background-color: #008CBA;
  color: white;
  border: none;
}

